*{
    padding: 0;
    margin: 0;
}
.content{
    width: 97%;
    margin: auto;
    margin-top:70px;
    align-items: center;
    text-align: center;
    height: 500px;
}

.content .buttons{
    text-align: right;
}
.content .tableBox{
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid black;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 2px 0;
    text-align: center;
}